<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="style.css">

        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet">

        <!-- BOOTSTRAP -->
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">
    </head>
    <body>

        <div>
            <div class="topnav">
                <a href="#profile">Profile</a>
                <!-- <a href="#contact">Notifications</a> -->
                <!--F <a href="#contact">Monthly Summary</a> -->
                <!-- <a href="#contact">Logout</a> -->

                <a href="#profile">About</a>
                <!-- What budgeting strategy we use? -->
                <!-- Why we do what we do? -->

                <a href="#profile">Learning Portal</a>
                <!-- Resources that are catered to the user's needs -->

                <div class="dropdown">
                    <a href="moneyManagement.html">Money Management
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="dropdown-content">
                        <a href="#budgets">Budgets</a>
                        <a href="#expenses">Expenses</a>
                    </div>

                </div>

                <a class="active" href="index.html">Home</a>
            </div>

            <div class="homepage-cover-container">
                <div class="homepage-cover-text">AVESTA</div>
            </div>
            
        </div>
    </body>
</html>
